body{
    background-color: peachpuff;
}
ul{
    list-style-type: none;
    background-color: sandybrown;
    padding: 15px;
    border: 3px white solid;
    
}
li{
    display: inline;
    margin-right: 15px;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: black;
    
}
article{
    background-color: brown;
    padding: 15px;
}
section{
    background-color: olive;
    padding: 15px;
    margin: 10px;
}
p{
    text-align: center;
    font-size: 24px;
}
img:hover{
    border:3px black solid ;
}